<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta Author="hhy" />
    <title>认购企业</title>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/data-search.css" />
    <link rel="stylesheet" href="../static/css/company-shopping.css" />
    <link rel="stylesheet" href="../static/css/loaders.css">
</head>

<body>
    <div class="header"></div>
    <div id="clock"></div>
    <div id="container" class="flex">
        <div class="grad1">
            <div class="search-left">
                <div class="search-left-title">
                    <div>
                        <input class="seach-text" type="text" placeholder="请输入要搜索的公司名称">
                        <img class="searchbtn" src="../static/images/help06.png" />
                    </div>
                </div>
                <ul class="left-address-list company-left-list">
                    <!-- <li>
                        <h2>
                            好像是公司名称
                        </h2>
                        <p>
                            <span>成交订单</span>
                            <span>0笔</span>
                            <span>成交金额</span>
                            <span>0.00元</span>
                        </p>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="grad2">
            <p class="help-title">认购企业查询 <img src="../static/images/help07.png" /></p>
            <h2 class="company-title"><span></span>企业订单总计</h2>
            <p class="middle-num">
                <span class="text2">企业成交<small>(笔)</small></span>
                <span class="num3">0</span>
                <span class="text2">企业成交<small>(元)</small></span>
                <span class="num3">0.00</span>
            </p>
            <ul class="company-middle-list wang-active-box">
                <!-- <li>
                    <div class="middle-img">
                        <div><img src="../static/images/help06.png" /></div>
                    </div>
                    <div class="middle-info">
                        <h2>正宗毕节金海湖椪柑1</h2>
                        <p class="price">￥15.00斤</p>
                        <p class="list-user"><span>生产贫困户</span><span>李大海</span></p>
                        <p class="list-count"><span>购买数量</span><span>2000斤</span></p>
                        <p class="list-money"><span>购买金额</span><span>3000元</span></p>
                    </div>
                </li> -->
            </ul>
            <p class="page-box"></p>
        </div>
        <div class="grad3">
            <section class="help-left company-right box-right">
                <div class="top-img">
                    <img src="../static/images/icon/avator_default.png" />
                </div>
                <article class="right-content">
                    <h2 class="company-left right-margin hu-goods-title"></h2>
                    <p class="price price-right">￥<abbr></abbr><span></span></p>
                    <p class="company-rigth-show">
                        <span>剩余库存：<abbr></abbr></span>
                        <span>已出售：<abbr></abbr></span>
                        <span>运费：<abbr></abbr></span>
                    </p>
                </article>

                <p class="company-right-timer">
                    提货时间：
                    <span></span>至<abbr></abbr>
                </p>
                <article class="right-content">
                    <p class="right-user">
                        <a href="javascript:;"><img src="../static/images/avator_default.png" /></a>
                        贫困户主：
                        <span class="poor-user-name">户主名</span> 帮扶干部：
                        <abbr class="poor-help-name">干部名</abbr>
                    </p>
                    <p class="person-count">
                        家庭人数：
                        <span>0</span> 贫困户指数：
                        <abbr>一般贫困</abbr>
                    </p>
                    <p class="right-reason">
                        主要至贫原因：
                        <span>因学</span> 2017年人均收入：
                        <abbr>0</abbr>
                    </p>
                </article>
                <p class="right-address">
                    家庭地址：<span>地址</span>
                </p>
                <article class="right-content">
                    <h2 class="company-left right-margin">商品详情</h2>
                    <p class="right-intro"></p>
                    <div class="right-img"></div>
                </article>
            </section>
        </div>
    </div>
    <script src="../static/js/view/lib/vue.js"></script>
    <script src="../static/js/view/lib/jquery-1.8.3.min.js"></script>
    <script src="../static/js/view/other/ajaxConfig.js"></script>
</body>

</html>