.search-left{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
}
.search-left-title{
	padding: 0.25rem 0.2rem 0.5rem 0.2rem;
	position: relative;
	height: 0.9rem;
	
}
.search-left-title::before{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0.1rem;
	right: 0.1rem;

	height: 1px;
	background:#0b3d5d;
	/*border-bottom: 1px solid #0b3d5d;*/
	
}
.search-left-title>div{
	position: relative;
	width: 100%;
	height: 0.35rem;
}
.search-left-title>div>input{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-right: 0.4rem;
	padding-left: 0.2rem;
	font-size: 0.2rem;
	color: #c9c9c9;
	border-radius: 0.175rem;
	border: 1px solid #0b3d5d;
	background: transparent;
	outline: none;
}
.search-left-title>div>img{
	position: absolute;
	width: 0.2rem;
	height: 0.2rem;
	right: 0.2rem;
	top: 0.07rem;
}
.search-left-title>div>.search-city{
	position: absolute;
	left: 0rem;
	top: 0rem;
	padding-left:0.15rem ;
	height: 100%;
	line-height: 0.35rem;
	/*font-size: 0.22rem;*/
	font-size: 0.2rem;
	color: #2b596f;
	cursor: pointer;
}
.search-left-title>div>.search-city>span{
	display: inline-block;
	border: 0.07rem solid #2b596f;
	border-color: #2b596f transparent transparent  transparent;
	vertical-align: text-bottom;
}
.search-city>ul{
	position: absolute;
	left: 0px;
	top:0.5rem;
	width:1.5rem;
	background: #024b6e;
	border-radius: 0.08rem;
	display: none;

}
.search-city>ul::before{
	position: absolute;
	content: "";
	top: -0.2rem;
	left: 0.25rem;
	border: 0.1rem solid #024b6e;
	border-color:  transparent transparent #024b6e  transparent;
	
}
.search-all{
	color:#43ffff !important;
}
.search-city>ul>li{
	text-align: center;
	height: 0.4rem;
	line-height: 0.4rem;
	border-bottom: 1px solid #172e54;
	color: #c9c9c9;
	/*font-weight: 100;*/
	font-size: 0.16rem;
	
}
.search-city>ul>li:last-of-type{
	border-bottom: 0px;
}
.displayBlock{
	display: block !important;
}
.displayNone{
	display: none !important;
}
.left-address-list{
	padding-right: 0.2rem;
	margin-top: 0.28rem;
	height: 7.8rem;
	width: 100%;
	overflow-y: auto;
	
}
.left-address-list>li{
	/*text-align: center;*/
	/*height: 0.45rem;
	line-height: 0.45rem;*/
	/*height: 0.48rem;*/
	/*overflow: hidden;*/
	margin-bottom: 0.1rem;
	background: rgba(0,0,0,0.1);
	font-size: 0.22rem;
	color: #157fb1;
	position: relative;
}
/*.left-down{
	height: auto !important;
	animation: 1s;
	
}
.left-up{
	height: 0.48rem !important;
	animation: 1s;
}*/
.left-address-list>li>a{
	display: block;
	text-align: center;
	padding-bottom: 0.1rem;
	padding-top: 0.1rem;
	color: #19b3fb;
}
.left-children{
	display: none;
	background: rgba(0,0,0,0.25);
}
.left-children>li{
	line-height: 0.35rem;
	text-align: center;
	font-size: 0.18rem;
	color: #959595;
	cursor: pointer;
}
.left-children>li:hover,.left-children>li.active{
	color: #41ffff;
}
.left-address-list>li>span{
	position: absolute;
	top: 0.1rem;
	right: 0.2rem;
	cursor: pointer;
}
.up-img{
	display: none;
}

.left-address-list::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0.9rem 0rem 0.3rem #0c0f22;
	background-color: #F5F5F5;
	border-radius: 10px;
	
}
.left-address-list::-webkit-scrollbar{
	width: 0.15rem;
	background-color: #0c0f22;
}
.left-address-list::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background:#157fb1;
}
/*中间内容部分*/
.address-info{
	padding: 0.15rem;
	padding-bottom: 0.3rem;
	background: rgba(0,0,0,0.1);
}
.address-info>p{
	clear: both;
	line-height: 0.5rem;

}
.address-info>p>span{
	display: inline-block;
	width:25%;
	float: left;
	font-size: 0.22rem;
	color: #19b3fb;
}
.address-info>p>span>small{
	font-size: 0.12rem;
	color:#959595;
}
.address-info>p:nth-of-type(2)>span{
	color:#43ffff;
}
.canvas-box{
	width: 100%;
	height: 3.2rem;
	clear: both;
}
.canvas-box>div{
	width: 50%;
	height: 100%;
	float: left;
}
#searchScale{
	position: relative;
}
.shop-count{
	margin-top: 0.4rem;
	padding: 0.15rem;
	background: rgba(0,0,0,0.1);
	float: left;
    width: 100%;
}
.shop-count>div{
	color: #19b3fb;
	padding-left: 63%;
	font-size: 0.22rem;
	line-height: 0.35rem;
	margin: 0.3rem 0;
}
.shop-count>p{
	clear: both;
	line-height: 0.4rem;
	color:#19b3fb;
	font-size:0.22rem;
}
.shop-count>p>span{
	display: inline-block;
	width: 25%;
	float: left;
}
.shop-count>p>span>small{
	font-size: 0.12rem;
	color:#959595;
}
.shop-count>p:nth-of-type(2){
	color:#43ffff;
	font-size: 0.22rem;
	padding-bottom: 0.7rem;
}
.shop-count>p:nth-of-type(4){
	color:#43ffff;
	font-size: 0.22rem;
}
.search-left{
	padding: 0.15rem;
	background: rgba(0,0,0,0.1);
	height: auto;
	float: left;
}
.search-bottom{
	border-bottom: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.serch-file{
	width: 100%;
	float: left;
	padding: 0.15rem;
	padding-bottom: 0.25rem;
	margin-top: 0.3rem;
	background: rgba(0,0,0,0.1);
}
.serch-file>p{
	line-height: 0.5rem;
	font-size: 0.22rem;
	color: #19b3fb;
}
.serch-file>p>span{
	display: inline-block;
	width: 50%;
	float: left;
}
.serch-file>p>span>small{
	font-size: 0.12rem;
	color:#959595;
}
.serch-file>p:nth-of-type(2){
	color:#43ffff;

}
.echart-title{
	width: 100%;
	margin-top:1.8rem;
	float: left;
	text-align: center;
	font-size: 0.22rem;
    color: #19b3fb;
  	margin-bottom: 0.1rem;
}
#searchHelp{
	height: 2rem;
	width: 100%;
	float: left;
}
